<div class="box-regis-email">
    <div class="form-regis-email">
        <div class="title-box">
            <p class="sm-tit">
                Cập nhật
                <span>Tin rao mới nhất</span>
            </p>
            <p class="lg-tit">
                <span>Hấp dẫn nhất</span>
                của chodocu.com
            </p>
        </div>

        <div class="content-box">
            <div class="input-group-search">
                <div class="group-search">

                    <input type="text" class="form-control nl_Text" placeholder="Nhập địa chỉ email của bạn" name="nl_text" maxlength="100" autocomplete="off" />
                </div>
                <div class="btn-sumbit">
                    <input id="RegisterNewsletter" type="button" class="submit nl_Submit" onclick="Newsletter()" value="Đăng ký" rel="nofollow">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="folder-title">
    <h4 class="f-normal">Liên kết nổi bật</h4>
</div>

<div class="panel-list-prd">
    <ul class="list-bl-prd bl-4cl list-link clearfix">
        <li><h3><a href="/ban-dien-thoai-htc-one-m7-dual" title="HTC One M7 Dual cũ ">HTC One M7 Dual cũ </a></h3></li>
        <li><h3><a href="/ban-dien-thoai-asus-zenfone-c" title="Asus Zenfone C cũ ">Asus Zenfone C cũ </a></h3></li>
        <li><h3><a href="/ban-dien-thoai-htc-one-s" title="HTC One S">HTC One S</a></h3></li>
        <li><h3><a href="/ban-dien-thoai-lenovo-k3" title="Lenovo K3 cũ ">Lenovo K3 cũ </a></h3></li>
        <li><h3><a href="/ban-dien-thoai-nokia-lumia-920" title="Nokia Lumia 920">Nokia Lumia 920</a></h3></li>
        <li><h3><a href="/ban-dien-thoai-blackberry-9780" title="Blackberry 9780 cũ ">Blackberry 9780 cũ </a></h3></li>
        <li><h3><a href="/ban-dien-thoai-nokia-112" title="Nokia 112">Nokia 112</a></h3></li>
        <li><h3><a href="/ban-dien-thoai-sony-xperia-c" title="Sony Xperia C cũ ">Sony Xperia C cũ </a></h3></li>
        <li><h3><a href="/ban-dien-thoai-nokia-2700" title="Nokia 2700">Nokia 2700</a></h3></li>
        <li><h3><a href="/ban-dien-thoai-sony-xperia-e1" title="Sony Xperia E1">Sony Xperia E1</a></h3></li>
        <li><h3><a href="/ban-dien-thoai-nokia-lumia-640-xl" title="Nokia Lumia 640 XL">Nokia Lumia 640 XL</a></h3></li>
        <li><h3><a href="/ban-may-tinh-ban-intel-celeron" title="B&#225;n m&#225;y t&#237;nh b&#224;n chip Celeron cũ ">B&#225;n m&#225;y t&#237;nh b&#224;n chip Celeron cũ </a></h3></li>
        <li><h3><a href="/ban-ong-kinh-nikon-af-micro-nikkor-60mm-f-2-8d" title="B&#225;n ống k&#237;nh Nikon AF Micro-Nikkor 60mm f/2.8D cũ ">B&#225;n ống k&#237;nh Nikon AF Micro-Nikkor 60mm f/2.8D cũ </a></h3></li>
        <li><h3><a href="/ban-may-anh-canon-eos-7d" title="B&#225;n m&#225;y ảnh Canon EOS 7D">B&#225;n m&#225;y ảnh Canon EOS 7D</a></h3></li>
        <li><h3><a href="/ban-ong-kinh-nikon-af-s-dx-nikkor-18-55mm-f-3-5-5-6g-vr-ii" title="B&#225;n ống k&#237;nh Nikon AF-S DX Nikkor 18-55mm f/3.5-5.6G VR II">B&#225;n ống k&#237;nh Nikon AF-S DX Nikkor 18-55mm f/3.5-5.6G VR II</a></h3></li>
        <li><h3><a href="/ban-ong-kinh-nikon-af-s-nikkor-50mm-f-1-8g-special-edition" title="B&#225;n ống k&#237;nh Nikon AF-S Nikkor 50mm f/1.8G Special Edition">B&#225;n ống k&#237;nh Nikon AF-S Nikkor 50mm f/1.8G Special Edition</a></h3></li>
        <li><h3><a href="/ban-ong-kinh-four-thirds" title="B&#225;n ống k&#237;nh Four Thirds">B&#225;n ống k&#237;nh Four Thirds</a></h3></li>
        <li><h3><a href="/ban-ong-kinh-tonika-tokina-at-x-pro-11-16mm-f-2-8-dx-ii" title="B&#225;n ống k&#237;nh Tokina AT-X Pro 11-16mm f/2.8 DX II cũ ">B&#225;n ống k&#237;nh Tokina AT-X Pro 11-16mm f/2.8 DX II cũ </a></h3></li>
        <li><h3><a href="/ban-ong-kinh-fujifilm-xf-18mm-f2-r" title="B&#225;n ống k&#237;nh Fujifilm XF 18mm F2 R cũ ">B&#225;n ống k&#237;nh Fujifilm XF 18mm F2 R cũ </a></h3></li>
        <li><h3><a href="/ban-ong-kinh-canon-ef-m-22mm-f-2-stm" title="B&#225;n ống k&#237;nh Canon EF-M 22mm f/2 STM">B&#225;n ống k&#237;nh Canon EF-M 22mm f/2 STM</a></h3></li>
    </ul>
</div>
        </div>
