<div class="main">
    <div class="foot-row row clearfix">
        <div class="foot-col col-gr-22per">
            <h4 class="foot-title">Bản quyền thuộc về</h4>
            <a class="foot-logo" href="/" rel="nofollow">
                <img src="/Content/img/logo.png" alt="chodocu.com" />
            </a>
        </div>
        <div class="foot-col col-gr-20per">
            <h4 class="foot-title">Kết nối với chúng tôi</h4>
            <ul class="list-social">
                <li>
                    <a href="https://www.facebook.com/chodocudv/" target="_blank" rel="nofollow" class="bg-fb">
                        <i class="icon-facebook"></i>
                        Facebook
                    </a>
                </li>
                <li>
                    <a href="https://plus.google.com/u/1/104806853836798344594" target="_blank" rel="nofollow" class="bg-gg">
                        <i class="icon-gplus"></i>
                        Google +
                    </a>
                </li>
            </ul>
        </div>
        <div class="foot-col col-gr-20per">
            <h4 class="foot-title">Hỗ trợ</h4>
            <div class="row">
                <ul class="list-bl-prd bl-1cl list-link clearfix">
                    <li><a href="/gioi-thieu" rel="nofollow" title="Giới thiệu">Về chúng tôi</a></li>
                    <li><a href="/quy-dinh-dang-tin" rel="nofollow" title="Quy định đăng tin">Quy định đăng tin</a></li>
                    <li><a href="/dieu-khoan-su-dung" rel="nofollow" title="Điều khoản sử dụng">Điều khoản sử dụng</a></li>
                    <li><a href="/mua-ban-an-toan" rel="nofollow" title="Mua bán an toàn">Mua bán an toàn</a></li>
                    <li><a href="/site-map" rel="nofollow" title="Site map">Site map</a></li>
                </ul>
            </div>
        </div>
        <div class="col-gr-23per">
            <h4 class="foot-title">Liên hệ</h4>
            <div class="row">
                <ul class="list-bl-prd bl-1cl list-contact clearfix">
                    <li>Email: <a href="mailto:cskh@chodocu.com" title="Gửi mail cho bộ phận hỗ trợ chodocu.com">cskh@chodocu.com</a></li>

                </ul>
            </div>
        </div>

    </div>
</div>