<div class="filter-prd">
    <div class="group-action" id="div_orderby">
        <a class="btn" href="javascript:" id="label_orderby">
            Giá từ thấp đến cao
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" id="ul_orderby">
            <li id="li_orderby_0" rel="0"><a href="javascript:" class="active">Mặc định</a></li>
            <li id="li_orderby_3" rel="3"><a href="javascript:">Tin cũ đến mới</a></li>
            <li id="li_orderby_2" rel="2"><a href="javascript:">Giá từ thấp đến cao</a></li>
            <li id="li_orderby_1" rel="1"><a href="javascript:">Giá từ cao đến thấp</a></li>
            <li id="li_orderby_4" rel="4"><a href="javascript:">Xếp hạng người bán</a></li>
        </ul>
    </div>

    <div id="div_newSlidePrice" class="group-action">
        <a class="btn" href="javascript:">
            <span id="spnPriceFromText">0 đồng</span> - <span id="spnPriceToText">không giới hạn</span>
            <span class="caret"></span>
        </a>
        <div class="bg-trans"></div>
        <div class="dropdown-menu about-price">
            <div class="group-filter-price fillter-product clearfix pt50 pb20 pl20 pr20 radius border-gray bg-gray-bold mb20 clearfix">
                <div class="filter-price wr_price fl mt3 clearfix">

                    <div id="slider_price" class="slider-price mt10 position fl "></div>
                    <input type="hidden" id="hddFrom" value="0" />
                    <input type="hidden" id="hddTo" value="0" />
                    <input type="hidden" id="hddOjectPrice" value="[{&quot;Id&quot;:27,&quot;CateId&quot;:7,&quot;MinPrice&quot;:0,&quot;MaxPrice&quot;:10000,&quot;Name&quot;:&quot;Dưới 10 triệu&quot;,&quot;Key&quot;:0,&quot;Value&quot;:0,&quot;Unit&quot;:&quot;đồng&quot;},{&quot;Id&quot;:28,&quot;CateId&quot;:7,&quot;MinPrice&quot;:10000,&quot;MaxPrice&quot;:15000,&quot;Name&quot;:&quot;10 - 15 triệu&quot;,&quot;Key&quot;:1,&quot;Value&quot;:10,&quot;Unit&quot;:&quot;triệu&quot;},{&quot;Id&quot;:29,&quot;CateId&quot;:7,&quot;MinPrice&quot;:15000,&quot;MaxPrice&quot;:20000,&quot;Name&quot;:&quot;15 - 20 triệu&quot;,&quot;Key&quot;:2,&quot;Value&quot;:15,&quot;Unit&quot;:&quot;triệu&quot;},{&quot;Id&quot;:30,&quot;CateId&quot;:7,&quot;MinPrice&quot;:20000,&quot;MaxPrice&quot;:25000,&quot;Name&quot;:&quot;20 - 25 triệu&quot;,&quot;Key&quot;:3,&quot;Value&quot;:20,&quot;Unit&quot;:&quot;triệu&quot;},{&quot;Id&quot;:31,&quot;CateId&quot;:7,&quot;MinPrice&quot;:25000,&quot;MaxPrice&quot;:30000,&quot;Name&quot;:&quot;25 - 30 triệu&quot;,&quot;Key&quot;:4,&quot;Value&quot;:25,&quot;Unit&quot;:&quot;triệu&quot;},{&quot;Id&quot;:32,&quot;CateId&quot;:7,&quot;MinPrice&quot;:30000,&quot;MaxPrice&quot;:35000,&quot;Name&quot;:&quot;30 - 35 triệu&quot;,&quot;Key&quot;:5,&quot;Value&quot;:30,&quot;Unit&quot;:&quot;triệu&quot;},{&quot;Id&quot;:33,&quot;CateId&quot;:7,&quot;MinPrice&quot;:35000,&quot;MaxPrice&quot;:40000,&quot;Name&quot;:&quot;35 - 40 triệu&quot;,&quot;Key&quot;:6,&quot;Value&quot;:35,&quot;Unit&quot;:&quot;triệu&quot;},{&quot;Id&quot;:34,&quot;CateId&quot;:7,&quot;MinPrice&quot;:40000,&quot;MaxPrice&quot;:1000000,&quot;Name&quot;:&quot;Tr&#234;n 40 triệu&quot;,&quot;Key&quot;:7,&quot;Value&quot;:40,&quot;Unit&quot;:&quot;triệu&quot;},{&quot;Id&quot;:467,&quot;CateId&quot;:7,&quot;MinPrice&quot;:0,&quot;MaxPrice&quot;:1000000,&quot;Name&quot;:&quot;Kh&#244;ng giới hạn&quot;,&quot;Key&quot;:8,&quot;Value&quot;:0,&quot;Unit&quot;:&quot;0&quot;}]" />

                </div>

                <div class="text-center">
                    Từ: <b><span type="text" id="from_price_new" class="lbprice"></span></b>
                    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    Đến: <b><span type="text" id="to_price_new" class="lbprice"></span></b>
                </div>

                <div class="text-center">
                    <div class="filter-btn">
                        <a href="javascript:ChangeSpaceArea()" class="btn-df btn-gray btn-sm">Lọc</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="group-action" id="div_area" noSS="1">
        <a class="btn" href="javascript:">
            <span id="label_area">Toàn quốc</span>
            <span class="caret"></span>
        </a>

        <input type="hidden" id="hddCateCityDistrictAlias" value="ban-do-dien-tu" />
        <input type="hidden" id="hddTextSearch" />
        <input type="hidden" id="hddTagAlias" />

        <ul class="dropdown-menu location">
            <li><a id="City_All" href="javascript:">Toàn quốc</a></li>
            <li><a id="City_50" href="javascript:;">TP Hồ Ch&#237; Minh</a></li>
            <li><a id="City_26" href="javascript:;">H&#224; Nội</a></li>
            <li><a id="City_2" href="javascript:;">B&#236;nh Dương</a></li>
            <li><a id="City_17" href="javascript:;">Đ&#224; Nẵng</a></li>
            <li><a id="City_28" href="javascript:;">Hải Ph&#242;ng</a></li>
            <li><a id="City_34" href="javascript:;">Long An</a></li>
            <li><a id="City_63" href="javascript:;">B&#224; Rịa Vũng T&#224;u</a></li>
            <li><a id="City_1" href="javascript:;">An Giang</a></li>
            <li><a id="City_4" href="javascript:;">Bắc Giang</a></li>
            <li><a id="City_5" href="javascript:;">Bắc Kạn</a></li>
            <li><a id="City_6" href="javascript:;">Bạc Li&#234;u</a></li>
            <li><a id="City_7" href="javascript:;">Bắc Ninh</a></li>
            <li><a id="City_10" href="javascript:;">Bến Tre</a></li>
            <li><a id="City_3" href="javascript:;">B&#236;nh Định</a></li>
            <li><a id="City_8" href="javascript:;">B&#236;nh Phước</a></li>
            <li><a id="City_9" href="javascript:;">B&#236;nh Thuận  </a></li>
            <li><a id="City_12" href="javascript:;">C&#224; Mau</a></li>
            <li><a id="City_14" href="javascript:;">Cần Thơ</a></li>
            <li><a id="City_11" href="javascript:;">Cao Bằng</a></li>
            <li><a id="City_16" href="javascript:;">Đắk Lắk</a></li>
            <li><a id="City_20" href="javascript:;">Đắk N&#244;ng</a></li>
            <li><a id="City_15" href="javascript:;">Điện Bi&#234;n</a></li>
            <li><a id="City_19" href="javascript:;">Đồng Nai</a></li>
            <li><a id="City_18" href="javascript:;">Đồng Th&#225;p</a></li>
            <li><a id="City_21" href="javascript:;">Gia Lai</a></li>
            <li><a id="City_24" href="javascript:;">H&#224; Giang</a></li>
            <li><a id="City_27" href="javascript:;">H&#224; Nam</a></li>
            <li><a id="City_29" href="javascript:;">H&#224; Tĩnh</a></li>
            <li><a id="City_23" href="javascript:;">Hải Dương</a></li>
            <li><a id="City_25" href="javascript:;">Hậu Giang</a></li>
            <li><a id="City_22" href="javascript:;">H&#242;a B&#236;nh</a></li>
            <li><a id="City_30" href="javascript:;">Hưng Y&#234;n</a></li>
            <li><a id="City_32" href="javascript:;">Kh&#225;nh H&#242;a</a></li>
            <li><a id="City_31" href="javascript:;">Ki&#234;n Giang</a></li>
            <li><a id="City_33" href="javascript:;">Kon Tum</a></li>
            <li><a id="City_36" href="javascript:;">Lai Ch&#226;u</a></li>
            <li><a id="City_37" href="javascript:;">L&#226;m Đồng</a></li>
            <li><a id="City_38" href="javascript:;">Lạng Sơn</a></li>
            <li><a id="City_35" href="javascript:;">L&#224;o Cai</a></li>
            <li><a id="City_41" href="javascript:;">Nam Định</a></li>
            <li><a id="City_39" href="javascript:;">Nghệ An</a></li>
            <li><a id="City_40" href="javascript:;">Ninh B&#236;nh</a></li>
            <li><a id="City_42" href="javascript:;">Ninh Thuận</a></li>
            <li><a id="City_43" href="javascript:;">Ph&#250; Thọ</a></li>
            <li><a id="City_44" href="javascript:;">Ph&#250; Y&#234;n</a></li>
            <li><a id="City_45" href="javascript:;">Quảng B&#236;nh</a></li>
            <li><a id="City_46" href="javascript:;">Quảng Nam</a></li>
            <li><a id="City_47" href="javascript:;">Quảng Ng&#227;i</a></li>
            <li><a id="City_48" href="javascript:;">Quảng Ninh</a></li>
            <li><a id="City_49" href="javascript:;">Quảng Trị</a></li>
            <li><a id="City_52" href="javascript:;">S&#243;c Trăng</a></li>
            <li><a id="City_51" href="javascript:;">Sơn La</a></li>
            <li><a id="City_57" href="javascript:;">T&#226;y Ninh</a></li>
            <li><a id="City_53" href="javascript:;">Th&#225;i B&#236;nh</a></li>
            <li><a id="City_56" href="javascript:;">Th&#225;i Nguy&#234;n</a></li>
            <li><a id="City_55" href="javascript:;">Thanh H&#243;a</a></li>
            <li><a id="City_59" href="javascript:;">Thừa Thi&#234;n Huế</a></li>
            <li><a id="City_54" href="javascript:;">Tiền Giang</a></li>
            <li><a id="City_60" href="javascript:;">Tr&#224; Vinh</a></li>
            <li><a id="City_58" href="javascript:;">Tuy&#234;n Quang</a></li>
            <li><a id="City_61" href="javascript:;">Vĩnh Long</a></li>
            <li><a id="City_62" href="javascript:;">Vĩnh Ph&#250;c</a></li>
            <li><a id="City_64" href="javascript:;">Y&#234;n B&#225;i</a></li>
        </ul>

    </div>
</div>
<div class="type-prd">
    <a href="javascript:" id="cbHasAvatar" title="Chỉ hiển thị tin có ảnh"><i class="icon-picture"></i></a>
    <a href="javascript:" id="cbLovedSeller" title="Chỉ hiển thị tin của người bán yêu thích"><i class="icon-heart"></i></a>
</div>
