<div class="col_1_of_4 span_1_of_4">
    <h4>Bản Quyền Thuộc Về</h4>
    <ul>
        <li><a href="">Chodocu.com</a></li>
        <li>&nbsp;</li>
        
    </ul>
</div>
<div class="col_1_of_4 span_1_of_4">
    <h4>Thông Tin</h4>
    <ul>
        <li><a href="about.html">Thông tin về trang web</a></li>
        <li><a href="contact.html">Thông tin sản phẩm</a></li>
        <li><a href="delivery.html">Đơn hàng</a></li>
        <li><a href="contact.html">Liên hệ chúng tôi</a></li>
    </ul>
</div>
<div class="col_1_of_4 span_1_of_4">
    <h4>Tài Khoản</h4>
    <ul>
        <li><a href="contact.html">Đăng ký</a></li>
        <li><a href="index.html">Đăng nhập</a></li>
        <li><a href="contact.html">Giúp đỡ</a></li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
    </ul>
</div>
<div class="col_1_of_4 span_1_of_4">
    <h4>Liên hệ</h4>
    <ul>
        <li><span>+84 123456789</span></li>
        <li><span>+84 122333444</span></li>
        <li><span><b>Gmail :</b> phongphu@gmail.com</span></li>
    </ul>
    <div class="social-icons">
        <h4>FOLLOW</h4>
        <ul>
            <li><a href="#" target="_blank"><img src="/Assets/client/images/facebook.png" alt="" /></a></li>
            <li><a href="#" target="_blank"><img src="/Assets/client/images/twitter.png" alt="" /></a></li>
            <li><a href="#" target="_blank"> <img src="/Assets/client/images/linkedin.png" alt="" /></a></li> 
        </ul>
    </div>
</div>
