@model List<Model.EF.Khuvuc>

<div id="header">


    @*<script src="/Script/scroll?v=5-tSzYBCUfD-GC4Kif60sq0f74l5ryvRrhos4jT0qOU1"></script>


        <link href="/Content/Style/scroll?v=nrirdVnMtj04-0JEj45__XNg0xdB0QPDVd80ufgeUyU1" rel="stylesheet" />*@
    <script src="/assets/client/Script/scroll.js"></script>
    <link href="/assets/client/css/scroll.css" rel="stylesheet" />
    <input type="hidden" value="" id="domainCookie" />

    <input type="hidden" id="hddUserId" value="0" />
    <div id="top-bar">
        <div class="main clearfix">
            <div class="user-title">
                <span>Xin chào! mời bạn</span>
                <span class="iframeRegister hyberlink unfixed-register">đăng ký</span>
                <span class="iframeRegister hyberlink fixed-register">Đăng ký</span>
                <span>hoặc</span>
                <span onclick="openLoginBox();" class="hyberlink" id="hplLogin">đăng nhập</span>
            </div>
            <div class="topbar-btn-gr">
                <a href="https://oto.com.vn" target="_blank" title="Truy cập Oto.com.vn" class="banxehoi" rel="nofollow">
                    <i class="icon-cab"></i>
                    Oto.com.vn
                </a>

                <a href="/tin-tuc" title="Tin tức chodocu.com" class="newspaper crl-0776bc">
                    <i class="icon-newspaper"></i>
                    Tin tức
                </a>

                <a href="javascript:openSavedProductBox()" class="saved-items" rel="nofollow">
                    <i class="icon-download-alt"></i>
                    <span>Tin đã lưu</span>
                    <span id="prSaveCount"></span>
                </a>
                <a href="/dang-tin" class="post-news">
                    <i class="icon-pencil-6"></i>
                    Đăng tin miễn phí
                </a>
            </div>
        </div>
    </div>


    <script>
        $(function () {
            var isOtherAccount = '';
            if (location.href.indexOf("ReturnUrl") >= 0 || isOtherAccount) {
                $(document).prop("title", "Đăng nhập - chodocu.com");
                openLoginBox();
            }

            $("#formId").keypress(function (e) {
                if (e.which == 13) {
                    var defaultButtonId = $(this).attr("defaultbutton");
                    $("#" + defaultButtonId).click();
                    return false;
                }
            });

        });
    </script>
    <div class="group-popup" id="div_login" style="display: none; z-index:9999">

        <div class="modal-popup modal-medium">
            <a class="close-modal" href="javascript:closeLoginBox();">
                <i class="icon-cancel-7"></i>
            </a>
            <div class="modal-header">
                <h2 class="modal-title">Đăng nhập</h2>
                <div id="LoginError" style="display:none; color: #f09e29; font-size: 12px;"></div>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <form action="/Account/Login" defaultbutton="submitButton" id="formId" method="post">
                        <input name="__RequestVerificationToken" type="hidden" value="lu81m6VgkT9I8CGbGr89_M-_1qUPFF3wxy72vn7-LmA2Tk7j6yINTp7p6kA6nserKN1pTPTQ2alwFvE1GvhbAeUxV_81" />                        <div class="col-gr-50per form-login-left">
                            <div class="group-form">
                                <p class="title">Email hoặc số điện thoại</p>
                                <input class="form-control valid validHtml required" data-val="true" data-val-required="Vui lòng nhập Email." id="UserName" name="UserName" req="Không được bỏ trống" type="text" value="" />                                <div class="noti-error"></div>
                            </div>
                            <div class="group-form">
                                <p class="title">Mật khẩu</p>
                                <input class="form-control valid validHtml required" data-val="true" data-val-required="Vui lòng nhập mật khẩu." id="Password" name="Password" req="Không được bỏ trống" type="password" />
                                <div class="noti-error"></div>
                            </div>
                            <div class="group-form">

                                <div class="agree-terms icon-not" id="cbRememberPage">
                                    <i class="icon-ok green-clr"></i>
                                    <label class="gray-clr" for="cbRememberPage">Ghi nhớ đăng nhập</label>
                                    <input Value="false" data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe" type="hidden" value="False" />
                                </div>
                            </div>
                            <div class="group-form">
                                <input type="submit" onclick="login(); return false;" class="btn-df btn-green" value="Đăng nhập" id="submitButton">
                            </div>
                            <a href="javascript:;" class="iframeLostPassword" rel="nofollow">Bạn quên mật khẩu?</a>
                        </div>
                    </form>
                    <div class="col-gr-50per form-login-right">

                        <script>
                            var SocialGoogleClientId = '745549184908-fa7l76fusls3vmtrqam1mgh5t3ubs1q7.apps.googleusercontent.com';
                            var SocialStateGoogleLogin = 'CKVSKECIQNNSR';
                            var SocialReturnUrl = '';
                        </script>
                        <form ReturnUrl="" action="/Account/ExternalLogin" id="loginFacebook" method="post">
                            <input name="__RequestVerificationToken" type="hidden" value="i-c-ZmjGnRgjnT8poW5vTDEOhaClgYLZhMhQLcWgGRTic75jdteGPazYaf96x6V8WslGCqtRO7AmlTD-e4CrSyb31Kg1" />                <div class="group-form">
                                <p class="title">&nbsp;</p>

                                <a href="javascript:document.getElementById('loginFacebook').submit()" class="btn-df btn-blue btn-block lgw-fb">Đăng nhập bằng Facebook</a>
                                <input id="provider" name="provider" type="hidden" value="facebook" />
                            </div>
                            <div class="group-form">

                                <span id="customBtn" class="btn-df btn-gray btn-block lgw-gg">Đăng nhập bằng Google +</span>
                            </div>
                            <script src="https://apis.google.com/js/api:client.js"></script>
                            <script src="/assets/client/js/LoginBySocial.js"></script>

                        </form>
                        <p>Bạn chưa có tài khoản? Đăng ký miễn phí <a class="disp-ib iframeRegister" href="javascript:;">tại đây</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="div_savedProduct" class="group-popup" style="display: none;">

    </div>




    <div id="top-search">
        <div class="main">
            <div class="row clearfix">
                <div class="col-gr-20per">
                    <h1>
                        <a href="/" class="head-logo" rel="nofollow">
                            <img class="logo1" src="/Content/img/logo-w.png" alt="chodocu.com" />
                            <img class="logo2" src="/Content/img/logo_neo.png" alt="chodocu.com" />


                        </a>
                    </h1>
                </div>
                <div class="col-gr-80per">

                    <form action="/Home/BoxSearchPost/BoxHomeSearch" method="post">
                        <div class="input-group-search">
                            <input data-val="true" data-val-number="The field CateId must be a number." data-val-required="The CateId field is required." id="hddCateId" name="CateId" type="hidden" value="0" />
                            <div class="group-action" id="div_area">
                                <a href="javascript:" class="btn">
                                    <span id="label_area">Toàn quốc</span>
                                    <span class="caret"></span>
                                </a>

                                <input type="hidden" id="hddCateCityDistrictAlias" />
                                <input type="hidden" id="hddTextSearch" />
                                <input type="hidden" id="hddTagAlias" />

                                <ul class="dropdown-menu location">
                                    <li><a id="City_All" href="javascript:">Toàn quốc</a></li>
                                    @foreach (var item in Model)
                                    {
                                        <li><a id="City_@item.MaKV" href="javascript">@item.TenKV</a></li>
                                    }

                                </ul>

                            </div>
                            <input id="hddAreaId" name="AreaId" type="hidden" value="" />
                            <input id="CurrentUrl" name="CurrentUrl" type="hidden" value="" />
                            <div class="group-search">
                                <input autocomplete="off" class="form-control no-left-radius" id="KeywordSearch" maxlength="100" name="KeywordSearch" placeholder="Xu hướng tìm kiếm: Iphone, Ipad, Tai nghe,..." type="text" value="" />
                            </div>
                            <div class="btn-sumbit">
                                <input type="submit" class="submit" value="Tìm kiếm" id="btnHomeBoxSearch" onclick="return EncodeTextSearch();" rel="nofollow" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>