
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="background:#c8eeff">
<br />
<h2 style="color:red;text-align:center;font-style:unset"><b><i>&rarr;GIỚI THIỆU CHỢ ĐỒ CŨ&larr;</i></b></h2>
<div style="background-color:#3499ef;height:10px"></div>
    <br />
    <div style="margin-left:30px;margin-right:30px;font-style:inherit;font-size:16px">
    &#9679;&nbsp;&nbsp;&nbsp;&nbsp; Sự nhảy vọt trong việc ứng dụng công nghệ và sự tìm tòi những kiến thức mới đã đưa chúng ta đến những phát minh ưu việt. Và chắc chắn rằng có rất nhiều thiết bị giúp chúng ta trong những công việc hằng ngày nhờ vào những thành tựu khoa học của con người. <br /><br />
    &#9679;&nbsp;&nbsp;&nbsp;&nbsp;Những thiết bị gia dụng ấy mang đến những ưu điểm cho bên trong lẫn bên ngoài không gian sống của bạn. Bạn có thể xem chúng như là một trong những điều may mắn mà cuộc sống đã ban tặng.<br /><br />
    &#9679;&nbsp;&nbsp;&nbsp;&nbsp;Thật vậy, trong nhiều năm trở lại đây, thị trường mua bán đồ gia dụng, nội - ngoại thất trở nên sôi động, nhộn nhịp hơn với hàng loạt những mẫu sản phẩm mới được bày bán với mức giá cực hấp dẫn. Thế nhưng, việc lựa chọn cho mình một món đồ ưng ý với mức giá phù hợp với túi tiền hiện có không phải là điều dễ dàng.<br /><br />
    &#9679;&nbsp;&nbsp;&nbsp;&nbsp;Không sao, đã có Chợ Đồ Cũ luôn đồng hành cùng bạn. Ở Chợ Đồ Cũ, mỗi ngày có hàng ngàn tin đăng rao bán những sản phẩm về đồ gia dụng giá rẻ, đồ nội - ngoại thất liên tục cập nhật mỗi ngày. <br /><br />
    &#9679;&nbsp;&nbsp;&nbsp;&nbsp;Trường hợp nếu bạn ở tại Toàn quốc và đang sở hữu những món đồ đã qua sử dụng và muốn bán thì có thể thông qua Chợ Đồ Cũ để tìm chủ nhân mới phù hợp hơn cho món đồ đó.<br /><br />
    &hearts;&nbsp;&nbsp;&nbsp;&nbsp;Trường hợp đặc biệt bạn có thể đăng bán những sản phẩm bạn mong muốn để thu lại lợi nhuận. &hearts;</div>
    <br />
</div>
