
@{
    ViewBag.Title = "Đồ điện tử";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row clearfix">
    <div class="col-gr-20per">

        @RenderPage("/Views/Shared/_TotalMenuLink.cshtml")
        
    </div>

    <div class="col-gr-80per">



        <div class="panel">

            <div class="panel-header">
                @RenderPage("/Views/Shared/_panel_header.cshtml")
            </div>
            <div class="panel-body">
                <div class="group-filter-prd clearfix">
                    @RenderPage("/Views/Shared/_Search_sort.cshtml")
                </div>

                <ul class="page_product row list-bl-prd bl-4cl clearfix">
                    <li class="clear-fix">
                        <div class="inner-bl-prd">
                            <div class="image">
                                <a title="Vertu Signature S độ vỏ" href="/ban-dien-thoai-signature-clous-de-paris-ha-noi/vertu-signature-s-do-vo-pr201904151812386866">
                                    <img alt="Vertu Signature S độ vỏ" src="https://file.chodocu.com/crop/202x200/2019/04/15/20190415181116-cd6e.jpg">
                                </a>
                                <span class="tag-bt-r" onclick="productSaved(this, '201904151812386866');" id="201904151812386866">
                                    <a href="javascript:" class="icon-download-alt" title="Lưu tin"></a>
                                </span>
                                <input type="hidden" class="hdd-loved-seller" createdby="164332" usercrawlerid="0" />

                            </div>
                            <div class="content">
                                <h4><a href="/ban-dien-thoai-signature-clous-de-paris-ha-noi/vertu-signature-s-do-vo-pr201904151812386866" title="Vertu Signature S độ vỏ">Vertu Signature S độ vỏ</a></h4>
                                <div class="price">30.000.000 <span class='unit'>đ</span></div>
                                <div class="location">Hà Nội</div>
                            </div>
                        </div>
                    </li>
                    <li class="">
                        <div class="inner-bl-prd">
                            <div class="image">
                                <a title="Laptop Hp Pavilion 14-bf014tu, Core i3 7100U 4G SSD128G M&#224;u Gold Si&#234;u mỏng Full HD Gi&#225; rẻ" href="/ban-laptop-hp-pavilion-tp-hcm/laptop-hp-pavilion-14-bf014tu-core-i3-7100u-4g-ssd128g-mau-gold-sieu-mong-full-hd-gia-re-pr201904151504526946">
                                    <img alt="Laptop Hp Pavilion 14-bf014tu, Core i3 7100U 4G SSD128G M&#224;u Gold Si&#234;u mỏng Full HD Gi&#225; rẻ" src="https://file.chodocu.com/crop/202x200/2019/04/15/20190415150435-29b4.jpg">
                                </a>
                                <span class="tag-bt-r" onclick="productSaved(this, '201904151504526946');" id="201904151504526946">
                                    <a href="javascript:" class="icon-download-alt" title="Lưu tin"></a>
                                </span>
                                <input type="hidden" class="hdd-loved-seller" createdby="48992" usercrawlerid="0" />

                            </div>
                            <div class="content">
                                <h4><a href="/ban-laptop-hp-pavilion-tp-hcm/laptop-hp-pavilion-14-bf014tu-core-i3-7100u-4g-ssd128g-mau-gold-sieu-mong-full-hd-gia-re-pr201904151504526946" title="Laptop Hp Pavilion 14-bf014tu, Core i3 7100U 4G SSD128G M&#224;u Gold Si&#234;u mỏng Full HD Gi&#225; rẻ">Laptop Hp Pavilion 14-bf014tu, Core i3 7100U 4G ...</a></h4>
                                <div class="price">8.900.000 <span class='unit'>đ</span></div>
                                <div class="location">TP Hồ Chí Minh</div>
                            </div>
                        </div>
                    </li>
                    <li class="">
                        <div class="inner-bl-prd">
                            <div class="image">
                                <a title="Laptop Lenovo Yoga 520, Core i3 7130U 4G 500G Full HD Toud xoay 360 độ Đẹp zin 100% Gi&#225; rẻ" href="/ban-laptop-ibm-lenovo-y-series-tp-hcm/laptop-lenovo-yoga-520-core-i3-7130u-4g-500g-full-hd-toud-xoay-360-do-dep-zin-100-gia-re-pr201904151455471155">
                                    <img alt="Laptop Lenovo Yoga 520, Core i3 7130U 4G 500G Full HD Toud xoay 360 độ Đẹp zin 100% Gi&#225; rẻ" src="https://file.chodocu.com/crop/202x200/2019/04/15/20190415145510-b1de.jpg">
                                </a>
                                <span class="tag-bt-r" onclick="productSaved(this, '201904151455471155');" id="201904151455471155">
                                    <a href="javascript:" class="icon-download-alt" title="Lưu tin"></a>
                                </span>
                                <input type="hidden" class="hdd-loved-seller" createdby="48992" usercrawlerid="0" />

                            </div>
                            <div class="content">
                                <h4><a href="/ban-laptop-ibm-lenovo-y-series-tp-hcm/laptop-lenovo-yoga-520-core-i3-7130u-4g-500g-full-hd-toud-xoay-360-do-dep-zin-100-gia-re-pr201904151455471155" title="Laptop Lenovo Yoga 520, Core i3 7130U 4G 500G Full HD Toud xoay 360 độ Đẹp zin 100% Gi&#225; rẻ">Laptop Lenovo Yoga 520, Core i3 7130U 4G 500G ...</a></h4>
                                <div class="price">7.900.000 <span class='unit'>đ</span></div>
                                <div class="location">TP Hồ Chí Minh</div>
                            </div>
                        </div>
                    </li>
                    <li class="">
                        <!-- /21622890900/VN_chodocu.com_pc_cate_Native -->
                        <div id='div-gpt-ad-1542903600793-0'>
                            <script>
                                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1542903600793-0'); });
                            </script>
                        </div>
                    </li>
                    <li class="clear-fix">
                        <div class="inner-bl-prd">
                            <div class="image">
                                <a title="B&#225;n Nokia 515 gold, black, silver bh 12 th&#225;ng ch&#237;nh h&#227;ng tại TP H&#224; Nội" href="/ban-dien-thoai-nokia-515-ha-noi/ban-nokia-515-gold-black-silver-bh-12-thang-chinh-hang-tai-tp-ha-noi-pr201710182359291441">
                                    <img alt="B&#225;n Nokia 515 gold, black, silver bh 12 th&#225;ng ch&#237;nh h&#227;ng tại TP H&#224; Nội" src="https://file.chodocu.com/crop/202x200/2017/10/18/20171018235730-4cef.jpg">
                                </a>
                                <span class="tag-bt-r" onclick="productSaved(this, '201710182359291441');" id="201710182359291441">
                                    <a href="javascript:" class="icon-download-alt" title="Lưu tin"></a>
                                </span>
                                <input type="hidden" class="hdd-loved-seller" createdby="79915" usercrawlerid="0" />

                            </div>
                            <div class="content">
                                <h4><a href="/ban-dien-thoai-nokia-515-ha-noi/ban-nokia-515-gold-black-silver-bh-12-thang-chinh-hang-tai-tp-ha-noi-pr201710182359291441" title="B&#225;n Nokia 515 gold, black, silver bh 12 th&#225;ng ch&#237;nh h&#227;ng tại TP H&#224; Nội">Bán Nokia 515 gold, black, silver bh 12 tháng ...</a></h4>
                                <div class="price">3.000.000 <span class='unit'>đ</span></div>
                                <div class="location">Hà Nội</div>
                            </div>
                        </div>
                    </li>
                    <li class="">
                        <div class="inner-bl-prd">
                            <div class="image">
                                <a title="Laptop Asus X452, i5 3337U 4G 500G Vga 2G Đẹp zin 100% Gi&#225; rẻ" href="/ban-laptop-asus-x-series-tp-hcm/laptop-asus-x452-i5-3337u-4g-500g-vga-2g-dep-zin-100-gia-re-pr201904151418088162">
                                    <img alt="Laptop Asus X452, i5 3337U 4G 500G Vga 2G Đẹp zin 100% Gi&#225; rẻ" src="https://file.chodocu.com/crop/202x200/2019/04/15/20190415141745-2de3.jpg">
                                </a>
                                <span class="tag-bt-r" onclick="productSaved(this, '201904151418088162');" id="201904151418088162">
                                    <a href="javascript:" class="icon-download-alt" title="Lưu tin"></a>
                                </span>
                                <input type="hidden" class="hdd-loved-seller" createdby="48992" usercrawlerid="0" />

                            </div>
                            <div class="content">
                                <h4><a href="/ban-laptop-asus-x-series-tp-hcm/laptop-asus-x452-i5-3337u-4g-500g-vga-2g-dep-zin-100-gia-re-pr201904151418088162" title="Laptop Asus X452, i5 3337U 4G 500G Vga 2G Đẹp zin 100% Gi&#225; rẻ">Laptop Asus X452, i5 3337U 4G 500G Vga 2G Đẹp zin ...</a></h4>
                                <div class="price">5.900.000 <span class='unit'>đ</span></div>
                                <div class="location">TP Hồ Chí Minh</div>
                            </div>
                        </div>
                    </li>
                    <li class="">
                        <div class="inner-bl-prd">
                            <div class="image">
                                <a title="Nokia 6700 gold ch&#237;nh h&#227;ng gi&#225; rẻ phụ kiện fullbox v&#224; bh 12 th&#225;ng" href="/ban-dien-thoai-nokia-6700-ha-noi/nokia-6700-gold-chinh-hang-gia-re-phu-kien-fullbox-va-bh-12-thang-pr201710182356023006">
                                    <img alt="Nokia 6700 gold ch&#237;nh h&#227;ng gi&#225; rẻ phụ kiện fullbox v&#224; bh 12 th&#225;ng" src="https://file.chodocu.com/crop/202x200/2017/10/19/20171019192614-28c2.jpg">
                                </a>
                                <span class="tag-bt-r" onclick="productSaved(this, '201710182356023006');" id="201710182356023006">
                                    <a href="javascript:" class="icon-download-alt" title="Lưu tin"></a>
                                </span>
                                <input type="hidden" class="hdd-loved-seller" createdby="79915" usercrawlerid="0" />

                            </div>
                            <div class="content">
                                <h4><a href="/ban-dien-thoai-nokia-6700-ha-noi/nokia-6700-gold-chinh-hang-gia-re-phu-kien-fullbox-va-bh-12-thang-pr201710182356023006" title="Nokia 6700 gold ch&#237;nh h&#227;ng gi&#225; rẻ phụ kiện fullbox v&#224; bh 12 th&#225;ng">Nokia 6700 gold chính hãng giá rẻ phụ kiện ...</a></h4>
                                <div class="price">2.600.000 <span class='unit'>đ</span></div>
                                <div class="location">Hà Nội</div>
                            </div>
                        </div>
                    </li>
                    <li class="">
                        <div class="inner-bl-prd">
                            <div class="image">
                                <a title="Nokia 8910 v&#224; 8910i ch&#237;nh h&#227;ng gi&#225; rẻ nguy&#234;n zin bảo h&#224;nh 12 th&#225;ng" href="/ban-dien-thoai-nokia-8910i-ha-noi/nokia-8910-va-8910i-chinh-hang-gia-re-nguyen-zin-bao-hanh-12-thang-pr201710182352486612">
                                    <img alt="Nokia 8910 v&#224; 8910i ch&#237;nh h&#227;ng gi&#225; rẻ nguy&#234;n zin bảo h&#224;nh 12 th&#225;ng" src="/Images/no-image.png">
                                </a>
                                <span class="tag-bt-r" onclick="productSaved(this, '201710182352486612');" id="201710182352486612">
                                    <a href="javascript:" class="icon-download-alt" title="Lưu tin"></a>
                                </span>
                                <input type="hidden" class="hdd-loved-seller" createdby="79915" usercrawlerid="0" />

                            </div>
                            <div class="content">
                                <h4><a href="/ban-dien-thoai-nokia-8910i-ha-noi/nokia-8910-va-8910i-chinh-hang-gia-re-nguyen-zin-bao-hanh-12-thang-pr201710182352486612" title="Nokia 8910 v&#224; 8910i ch&#237;nh h&#227;ng gi&#225; rẻ nguy&#234;n zin bảo h&#224;nh 12 th&#225;ng">Nokia 8910 và 8910i chính hãng giá rẻ nguyên zin ...</a></h4>
                                <div class="price">4.800.000 <span class='unit'>đ</span></div>
                                <div class="location">Hà Nội</div>
                            </div>
                        </div>
                    </li>
                    <li class="clear-fix">
                        <div class="inner-bl-prd">
                            <div class="image">
                                <a title="Nokia 8800 gold main zin ch&#237;nh h&#227;ng gi&#225; chỉ 7.990.000đ" href="/ban-dien-thoai-nokia-8800-ha-noi/nokia-8800-gold-main-zin-chinh-hang-gia-chi-7990000d-pr201710182349299773">
                                    <img alt="Nokia 8800 gold main zin ch&#237;nh h&#227;ng gi&#225; chỉ 7.990.000đ" src="https://file.chodocu.com/crop/202x200/2017/10/18/20171018234600-2344.jpg">
                                </a>
                                <span class="tag-bt-r" onclick="productSaved(this, '201710182349299773');" id="201710182349299773">
                                    <a href="javascript:" class="icon-download-alt" title="Lưu tin"></a>
                                </span>
                                <input type="hidden" class="hdd-loved-seller" createdby="79915" usercrawlerid="0" />

                            </div>
                            <div class="content">
                                <h4><a href="/ban-dien-thoai-nokia-8800-ha-noi/nokia-8800-gold-main-zin-chinh-hang-gia-chi-7990000d-pr201710182349299773" title="Nokia 8800 gold main zin ch&#237;nh h&#227;ng gi&#225; chỉ 7.990.000đ">Nokia 8800 gold main zin chính hãng giá chỉ 7.990 ...</a></h4>
                                <div class="price">7.999.000 <span class='unit'>đ</span></div>
                                <div class="location">Hà Nội</div>
                            </div>
                        </div>
                    </li>
                    <li class="">
                        <div class="inner-bl-prd">
                            <div class="image">
                                <a title="B&#225;n LAptop Toshiba xanh ngọc đẹp như mới" href="/ban-laptop-toshiba-series-khac-ha-noi/ban-laptop-toshiba-xanh-ngoc-dep-nhu-moi-pr201904151344015547">
                                    <img alt="B&#225;n LAptop Toshiba xanh ngọc đẹp như mới" src="https://file.chodocu.com/crop/202x200/2019/04/15/20190415133713-910c.jpg">
                                </a>
                                <span class="tag-bt-r" onclick="productSaved(this, '201904151344015547');" id="201904151344015547">
                                    <a href="javascript:" class="icon-download-alt" title="Lưu tin"></a>
                                </span>
                                <input type="hidden" class="hdd-loved-seller" createdby="164132" usercrawlerid="0" />

                            </div>
                            <div class="content">
                                <h4><a href="/ban-laptop-toshiba-series-khac-ha-noi/ban-laptop-toshiba-xanh-ngoc-dep-nhu-moi-pr201904151344015547" title="B&#225;n LAptop Toshiba xanh ngọc đẹp như mới">Bán LAptop Toshiba xanh ngọc đẹp như mới</a></h4>
                                <div class="price">1.000.000 <span class='unit'>đ</span></div>
                                <div class="location">Hà Nội</div>
                            </div>
                        </div>
                    </li>
                    <li class="">
                        <div class="inner-bl-prd">
                            <div class="image">
                                <a title="B&#225;n nhanh Huawei Watch GT 3tr c&#242;n nguy&#234;n seal chưa b&#243;c nilon " href="/ban-smartwatch-huawei-ha-noi/ban-nhanh-huawei-watch-gt-3tr-con-nguyen-seal-chua-boc-nilon-pr201904151318151786">
                                    <img alt="B&#225;n nhanh Huawei Watch GT 3tr c&#242;n nguy&#234;n seal chưa b&#243;c nilon " src="https://file.chodocu.com/crop/202x200/2019/04/15/20190415125801-4fc4.jpeg">
                                </a>
                                <span class="tag-bt-r" onclick="productSaved(this, '201904151318151786');" id="201904151318151786">
                                    <a href="javascript:" class="icon-download-alt" title="Lưu tin"></a>
                                </span>
                                <input type="hidden" class="hdd-loved-seller" createdby="125193" usercrawlerid="0" />

                            </div>
                            <div class="content">
                                <h4><a href="/ban-smartwatch-huawei-ha-noi/ban-nhanh-huawei-watch-gt-3tr-con-nguyen-seal-chua-boc-nilon-pr201904151318151786" title="B&#225;n nhanh Huawei Watch GT 3tr c&#242;n nguy&#234;n seal chưa b&#243;c nilon ">Bán nhanh Huawei Watch GT 3tr còn nguyên seal ...</a></h4>
                                <div class="price">3.000.000 <span class='unit'>đ</span></div>
                                <div class="location">Hà Nội</div>
                            </div>
                        </div>
                    </li>
                    <li class="">
                        <div class="inner-bl-prd">
                            <div class="image">
                                <a title="oppo R7 lite" href="/ban-dien-thoai-r7-lite-tp-hcm/oppo-r7-lite-pr201904151312358800">
                                    <img alt="oppo R7 lite" src="https://file.chodocu.com/crop/202x200/2019/04/15/20190415131104-0918.jpg">
                                </a>
                                <span class="tag-bt-r" onclick="productSaved(this, '201904151312358800');" id="201904151312358800">
                                    <a href="javascript:" class="icon-download-alt" title="Lưu tin"></a>
                                </span>
                                <input type="hidden" class="hdd-loved-seller" createdby="164312" usercrawlerid="0" />

                            </div>
                            <div class="content">
                                <h4><a href="/ban-dien-thoai-r7-lite-tp-hcm/oppo-r7-lite-pr201904151312358800" title="oppo R7 lite">oppo R7 lite</a></h4>
                                <div class="price">500.000 <span class='unit'>đ</span></div>
                                <div class="location">TP Hồ Chí Minh</div>
                            </div>
                        </div>
                    </li>
                    <li class="clear-fix">
                        <div class="inner-bl-prd">
                            <div class="image">
                                <a title="M&#236;nh b&#225;n flycam Dji Tello tại H&#224; nội" href="/ban-may-anh-645-ha-noi/minh-ban-flycam-dji-tello-tai-ha-noi-pr201904151223458173">
                                    <img alt="M&#236;nh b&#225;n flycam Dji Tello tại H&#224; nội" src="https://file.chodocu.com/crop/202x200/2019/04/15/20190415122213-6f0c.jpg">
                                </a>
                                <span class="tag-bt-r" onclick="productSaved(this, '201904151223458173');" id="201904151223458173">
                                    <a href="javascript:" class="icon-download-alt" title="Lưu tin"></a>
                                </span>
                                <input type="hidden" class="hdd-loved-seller" createdby="125424" usercrawlerid="0" />

                            </div>
                            <div class="content">
                                <h4><a href="/ban-may-anh-645-ha-noi/minh-ban-flycam-dji-tello-tai-ha-noi-pr201904151223458173" title="M&#236;nh b&#225;n flycam Dji Tello tại H&#224; nội">Mình bán flycam Dji Tello tại Hà nội</a></h4>
                                <div class="price">2.600.000.000 <span class='unit'>đ</span></div>
                                <div class="location">Hà Nội</div>
                            </div>
                        </div>
                    </li>
                    <li class="">
                        <div class="inner-bl-prd">
                            <div class="image">
                                <a title="B&#225;n m&#225;y đ&#225;nh chữ cơ gi&#225; rẻ" href="/ban-thiet-bi-van-phong-khac-tp-hcm/ban-may-danh-chu-co-gia-re-pr201704111721215447">
                                    <img alt="B&#225;n m&#225;y đ&#225;nh chữ cơ gi&#225; rẻ" src="https://file.chodocu.com/crop/202x200/2017/04/11/20170411172055-30d5.jpg">
                                </a>
                                <span class="tag-bt-r" onclick="productSaved(this, '201704111721215447');" id="201704111721215447">
                                    <a href="javascript:" class="icon-download-alt" title="Lưu tin"></a>
                                </span>
                                <input type="hidden" class="hdd-loved-seller" createdby="34800" usercrawlerid="0" />

                            </div>
                            <div class="content">
                                <h4><a href="/ban-thiet-bi-van-phong-khac-tp-hcm/ban-may-danh-chu-co-gia-re-pr201704111721215447" title="B&#225;n m&#225;y đ&#225;nh chữ cơ gi&#225; rẻ">Bán máy đánh chữ cơ giá rẻ</a></h4>
                                <div class="price">2.200.000 <span class='unit'>đ</span></div>
                                <div class="location">TP Hồ Chí Minh</div>
                            </div>
                        </div>
                    </li>
                    <li class="">
                        <div class="inner-bl-prd">
                            <div class="image">
                                <a title="B&#225;n m&#225;y photocopy đa chức năng" href="/ban-thiet-bi-van-phong-may-photocopy-tp-hcm/ban-may-photocopy-da-chuc-nang-pr201705161030521417">
                                    <img alt="B&#225;n m&#225;y photocopy đa chức năng" src="https://file.chodocu.com/crop/202x200/2017/05/16/20170516103027-cda7.jpg">
                                </a>
                                <span class="tag-bt-r" onclick="productSaved(this, '201705161030521417');" id="201705161030521417">
                                    <a href="javascript:" class="icon-download-alt" title="Lưu tin"></a>
                                </span>
                                <input type="hidden" class="hdd-loved-seller" createdby="34800" usercrawlerid="0" />

                            </div>
                            <div class="content">
                                <h4><a href="/ban-thiet-bi-van-phong-may-photocopy-tp-hcm/ban-may-photocopy-da-chuc-nang-pr201705161030521417" title="B&#225;n m&#225;y photocopy đa chức năng">Bán máy photocopy đa chức năng</a></h4>
                                <div class="price">15.800.000 <span class='unit'>đ</span></div>
                                <div class="location">TP Hồ Chí Minh</div>
                            </div>
                        </div>
                    </li>
                    <li class="">
                        <div class="inner-bl-prd">
                            <div class="image">
                                <a title="B&#225;n m&#225;y photocopy cho văn ph&#242;ng gi&#225; rẻ" href="/ban-thiet-bi-van-phong-may-photocopy-tp-hcm/ban-may-photocopy-cho-van-phong-gia-re-pr201705161029194942">
                                    <img alt="B&#225;n m&#225;y photocopy cho văn ph&#242;ng gi&#225; rẻ" src="https://file.chodocu.com/crop/202x200/2017/05/16/20170516102845-199d.jpg">
                                </a>
                                <span class="tag-bt-r" onclick="productSaved(this, '201705161029194942');" id="201705161029194942">
                                    <a href="javascript:" class="icon-download-alt" title="Lưu tin"></a>
                                </span>
                                <input type="hidden" class="hdd-loved-seller" createdby="34800" usercrawlerid="0" />

                            </div>
                            <div class="content">
                                <h4><a href="/ban-thiet-bi-van-phong-may-photocopy-tp-hcm/ban-may-photocopy-cho-van-phong-gia-re-pr201705161029194942" title="B&#225;n m&#225;y photocopy cho văn ph&#242;ng gi&#225; rẻ">Bán máy photocopy cho văn phòng giá rẻ</a></h4>
                                <div class="price">9.800.000 <span class='unit'>đ</span></div>
                                <div class="location">TP Hồ Chí Minh</div>
                            </div>
                        </div>
                    </li>
                    <li class="clear-fix">
                        <div class="inner-bl-prd">
                            <div class="image">
                                <a title="M&#225;y đếm tiền th&#244;ng thường gi&#225; rẻ" href="/ban-thiet-bi-van-phong-khac-tp-hcm/may-dem-tien-thong-thuong-gia-re-pr201705251559083417">
                                    <img alt="M&#225;y đếm tiền th&#244;ng thường gi&#225; rẻ" src="https://file.chodocu.com/crop/202x200/2017/05/25/20170525155851-5807.jpg">
                                </a>
                                <span class="tag-bt-r" onclick="productSaved(this, '201705251559083417');" id="201705251559083417">
                                    <a href="javascript:" class="icon-download-alt" title="Lưu tin"></a>
                                </span>
                                <input type="hidden" class="hdd-loved-seller" createdby="34800" usercrawlerid="0" />

                            </div>
                            <div class="content">
                                <h4><a href="/ban-thiet-bi-van-phong-khac-tp-hcm/may-dem-tien-thong-thuong-gia-re-pr201705251559083417" title="M&#225;y đếm tiền th&#244;ng thường gi&#225; rẻ">Máy đếm tiền thông thường giá rẻ</a></h4>
                                <div class="price">2.800.000 <span class='unit'>đ</span></div>
                                <div class="location">TP Hồ Chí Minh</div>
                            </div>
                        </div>
                    </li>
                    <li class="">
                        <div class="inner-bl-prd">
                            <div class="image">
                                <a title="B&#225;n ruy băng mực m&#225;y đ&#225;nh chữ cơ, điện tử tốt nhất" href="/ban-thiet-bi-van-phong-khac-tp-hcm/ban-ruy-bang-muc-may-danh-chu-co-dien-tu-tot-nhat-pr201706121630275145">
                                    <img alt="B&#225;n ruy băng mực m&#225;y đ&#225;nh chữ cơ, điện tử tốt nhất" src="https://file.chodocu.com/crop/202x200/2017/06/12/20170612162944-4068.jpg">
                                </a>
                                <span class="tag-bt-r" onclick="productSaved(this, '201706121630275145');" id="201706121630275145">
                                    <a href="javascript:" class="icon-download-alt" title="Lưu tin"></a>
                                </span>
                                <input type="hidden" class="hdd-loved-seller" createdby="34800" usercrawlerid="0" />

                            </div>
                            <div class="content">
                                <h4><a href="/ban-thiet-bi-van-phong-khac-tp-hcm/ban-ruy-bang-muc-may-danh-chu-co-dien-tu-tot-nhat-pr201706121630275145" title="B&#225;n ruy băng mực m&#225;y đ&#225;nh chữ cơ, điện tử tốt nhất">Bán ruy băng mực máy đánh chữ cơ, điện tử tốt nhất</a></h4>
                                <div class="price">170.000 <span class='unit'>đ</span></div>
                                <div class="location">TP Hồ Chí Minh</div>
                            </div>
                        </div>
                    </li>
                    <li class="">
                        <div class="inner-bl-prd">
                            <div class="image">
                                <a title="B&#225;n m&#225;y đ&#225;nh chữ cơ" href="/ban-thiet-bi-van-phong-khac-tp-hcm/ban-may-danh-chu-co-pr201707151031438611">
                                    <img alt="B&#225;n m&#225;y đ&#225;nh chữ cơ" src="https://file.chodocu.com/crop/202x200/2017/07/15/20170715103125-3646.jpg">
                                </a>
                                <span class="tag-bt-r" onclick="productSaved(this, '201707151031438611');" id="201707151031438611">
                                    <a href="javascript:" class="icon-download-alt" title="Lưu tin"></a>
                                </span>
                                <input type="hidden" class="hdd-loved-seller" createdby="34800" usercrawlerid="0" />

                            </div>
                            <div class="content">
                                <h4><a href="/ban-thiet-bi-van-phong-khac-tp-hcm/ban-may-danh-chu-co-pr201707151031438611" title="B&#225;n m&#225;y đ&#225;nh chữ cơ">Bán máy đánh chữ cơ</a></h4>
                                <div class="price">2.000.000 <span class='unit'>đ</span></div>
                                <div class="location">TP Hồ Chí Minh</div>
                            </div>
                        </div>
                    </li>
                    <li class="">
                        <div class="inner-bl-prd">
                            <div class="image">
                                <a title="M&#225;y đ&#225;nh chữ cơ tốt" href="/ban-thiet-bi-van-phong-khac-tp-hcm/may-danh-chu-co-tot-pr201709161456530093">
                                    <img alt="M&#225;y đ&#225;nh chữ cơ tốt" src="https://file.chodocu.com/crop/202x200/2018/06/29/20170916150212-be72.jpg">
                                </a>
                                <span class="tag-bt-r" onclick="productSaved(this, '201709161456530093');" id="201709161456530093">
                                    <a href="javascript:" class="icon-download-alt" title="Lưu tin"></a>
                                </span>
                                <input type="hidden" class="hdd-loved-seller" createdby="34800" usercrawlerid="0" />

                            </div>
                            <div class="content">
                                <h4><a href="/ban-thiet-bi-van-phong-khac-tp-hcm/may-danh-chu-co-tot-pr201709161456530093" title="M&#225;y đ&#225;nh chữ cơ tốt">Máy đánh chữ cơ tốt</a></h4>
                                <div class="price">2.400.000 <span class='unit'>đ</span></div>
                                <div class="location">TP Hồ Chí Minh</div>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class='page'><ul class='paging tr'><li class='inline ml5'><a href='/ban-do-dien-tu' class='pt5 pb5 pl10 border-gray pr10 none-underline box-shadow radius active' title='Trang 1'>1</a></li><li class='inline ml5'><a href='/ban-do-dien-tu/p2' class='pt5 pb5 pl10 border-gray pr10 none-underline box-shadow radius ' title='Trang 2'>2</a></li><li class='inline ml5'><a href='/ban-do-dien-tu/p3' class='pt5 pb5 pl10 border-gray pr10 none-underline box-shadow radius ' title='Trang 3'>3</a></li><li class='inline ml5'><a href='/ban-do-dien-tu/p4' class='pt5 pb5 pl10 border-gray pr10 none-underline box-shadow radius no-number next' title='Trang tiếp'>Trang tiếp</a></li></ul></div>


            </div>


        </div>


        <div class="text-center" style="margin-bottom:50px;">
            <!-- /21622890900/VN_chodocu.com_pc_cate_Mid1_728x90//970x90 -->
            <div id='div-gpt-ad-1542903769319-0'>
                <script>
                    googletag.cmd.push(function () { googletag.display('div-gpt-ad-1542903769319-0'); });
                </script>
            </div>
        </div>


        @*Tin tức liên quan*@

        @RenderPage("/Views/Shared/_Related_news.cshtml")
    </div>
</div>

